@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&family=Kumbh+Sans:wght@700&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, main{
    width: 100vw;
    height: 100vh;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-family: 'Kumbh Sans', sans-serif;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image:radial-gradient( #1f3757,#141638);
    color: white;
}


header{
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.704);
    width: 450px;
    height: 85px;
    padding: 15px;
    font
    display: flex;
    justify-content: space-between;
}